
/* - HEADER - */
#navbar {

  background-color: rgb(12, 21, 34);
  max-width: 100%;
  align-items: center;
}

#navbar img {
  
  margin-left: 35%;

  width: 30%;
}

#navbar .list {
  margin-top: 10px;
  color:rgb(255, 255, 255);
  display: flex;
  list-style: none;
}


#navbar .list a {
  margin-right: 40px;
  text-decoration: none;
  color:rgb(255,255, 255);
  font-size: 18px;
}

main {
  max-width: 1800px;
  display: block;
  margin: 0 auto;
}

/* imagem jujridica */
.imagem_juridica {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;

}


/* - SECTION: MAIN BANNER - */
#areas_atuacao {

  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  width: 50%
}

#areas_atuacao .escrito_esquerda {
  float: left;
  width: 50%;
}

#areas_atuacao .escrito_direita {
  float: right;
  width: 50%;
}

#areas_atuacao .texto p {
  font-size: 21px;
  font-weight: 300;
  color: #7D7987;
  margin-bottom: 20px;
}

#areas_atuacao .texto a {
  background-color: #458FF6;
  color: white;
  font-weight: 700;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 60px;
  border-radius: 55px;
  margin-top: 40px;

  text-align: center; /* Alinhamento horizontal */
  line-height: 58px; /* Alinhamento vertical */

  transition: transform 150ms, box-shadow 150ms;
}

#areas_atuacao .texto a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: transform 150ms, box-shadow 150ms;
}




/* - SECTION: OUR SERVICES - */
#our-services {
  margin-top: 190px;
  margin-bottom: 190px;
}

#our-services .section-header {
  text-align: center;
  margin: 0 auto;
  max-width: 952px;

  margin-bottom: 50px;
}

#our-services .section-header .section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 26px;
}

#our-services .section-header hr {
  border-bottom: 2px solid black;
  width: 56px;

  display: block;
  margin: 0 auto;
}

#our-services .section-header .subtitle {
  margin-top: 26px;
  font-size: 18px;
  color: #7D7987;
  font-weight: 300;
}

#our-services .services {
  display: flex;
  flex-wrap: wrap; /* Quebra os elementos */
  /* padding: 0 40px; */
}

#our-services .services .service {
  background-color: #fff;
  margin: 17px;
  padding: 40px;
  border-radius: 20px;

  flex: 1 1 400px;
}

#our-services .services .service img {
  margin-bottom: 22px;
}

#our-services .services .service h3 {
  margin-bottom: 22px;
}

#our-services .services .service p {
  font-size: 16px;
  color: #7D7987;
}
