
/* - HEADER - */
#navbar {
  background-color: rgb(12, 21, 34);
  max-width: 100%;
}

#navbar img {
  margin-left: 37.5%;
  width: 25%;
}

#navbar .list {
  color:rgb(255, 255, 255);
  text-align: center;
}


#navbar .list a {
  margin-right: 50px;
  text-decoration: none;
  color:rgb(255,255, 255);
  font-size: medium;
}

main {
  margin: 50px 50px 50px 50px;
  text-align: center;
}

/* imagem jujridica */
.imagem_juridica {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


/* - SECTION: areas de atuacao - */
#areas_atuacao {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

#areas_atuacao .escrito_esquerda {
  float: left;
  width: 50%;
}

#areas_atuacao .escrito_direita {
  float: right;
  width: 50%;
}

#areas_atuacao .texto p {
  font-size: 21px;
  font-weight: 300;
  color: #7D7987;
  margin-bottom: 20px;
}


#areas_atuacao .header {
  text-align: center;
  margin: 0 auto;
  max-width: 952px;
  margin-bottom: 10px;
}


#areas_atuacao .header hr {
  border-bottom: 2px solid black;
  width: 56px;
  display: block;
  margin: 0 auto;
}

#areas_atuacao .texto a {
  background-color: rgb(12, 21, 34); 
  color: rgb(253, 253, 253);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 55px;
  font-size: 16px;
  align-items: center;
  transition: transform 150ms, box-shadow 150ms;
}

#areas_atuacao .texto a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: transform 150ms, box-shadow 150ms;
}


/* - SECTION: OUR SERVICES - */
#home {
  margin-top: 0px;
  margin-bottom: 0px;
}

#home .section-header {
  text-align: center;
  margin: 0 auto;
  max-width: 952px;
  margin-bottom: 50px;
}

#home .section-header .section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 26px;
}

#home .section-header hr {
  border-bottom: 2px solid black;
  width: 56px;
  display: block;
  margin: 0 auto;
}

#home .section-header .subtitle {
  margin-top: 26px;
  font-size: 18px;
  color: #7D7987;
  font-weight: 300;
}

#home .services {
  display: flex;
  flex-wrap: wrap; /* Quebra os elementos */
  /* padding: 0 40px; */
}

#home .services .service {
  background-color: #fff;
  margin: 17px;
  padding: 40px;
  border-radius: 20px;
  flex: 1 1 400px;
}

#home .services .service img {
  margin-bottom: 22px;
}

#home .services .service h3 {
  margin-bottom: 22px;
}

#home .services .service p {
  font-size: 16px;
  color: #7D7987;
}


/* Section fotos advogadas */


#equipe{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}


#equipe .header {
  text-align: center;
  margin: 0 auto;
  max-width: 952px;
  margin-bottom: 10px;
}


#equipe .header hr {
  border-bottom: 2px solid black;
  width: 56px;
  display: block;
  margin: 0 auto;
}


.imagem_larissa{
  width: 25%;
  float: left;
}

.imagem_larissa img{
  width: 100%;
  border-radius: 50%;
}

.descricao_larissa{
  padding-top: 10%;
  width: 25%;
  float: left;
}

.imagem_morgana{
  width: 25%;
  float: left;
}

.imagem_morgana img{
  width: 100%;
  border-radius: 50%;
}

.descricao_morgana{
  padding-top: 10%;
  width: 25%;
  float: left;
}


#rodape .imagem_juridica {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#rodape .endereco{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#rodape .endereco h5{
  padding-top: 10px;
}







.btn-whatsapp a {
	color:#fff; 
	text-decoration:none; 
	display:block; 
}
.btn-whatsapp {
    
    position:fixed; 
    right:75px; 
    bottom:30px; 
    transform: translate(-50%, -50%);  
    background-color:rgb(37, 211, 102); 
    width:60px; height:60px; 
    text-align:center; 
    line-height:58px; 
    font-size:1.8em; 
    color:#ffffff; 
    font-weight:100; 
    border-radius:50%; 
}
.btn-whatsapp:before,
.btn-whatsapp:after
{
	content: '';
    display:block;
    position: absolute;
    border-radius:50%;
    border:1px solid #25d366;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity:0;
    backface-visibility:hidden;    
}
.pulsaDelay:after { animation-delay: .5s; }
@keyframes animate {
   0%   { transform: scale(0.5); opacity:0; }
   50%  { opacity:1; }
   100% { transform: scale(1.2); opacity:0; }
}